@import 'normalize.css';

body {
  font-family: 'Red Hat Display', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: #e0e8ff url('./assets/pattern-background-desktop.svg') no-repeat center top / cover;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: 600px) {
    background: #e0e8ff url('./assets/pattern-background-mobile.svg') no-repeat center top / cover;
  }
}

.link {
  font-weight: 700;
  font-size: 14px;
  text-decoration: underline;
  color: #382ae1;
  &:hover {
    opacity: 0.6;
  }

  @media screen and (max-width: 600px) {
    font-size: 13px;
  }
}

.btn {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
  border: 0;
  font-weight: 900;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn--primary {
  box-shadow: 0 20px 20px 0 rgba(56, 42, 225, 0.19);
  background: #382ae1;
  color: #fff;

  &:hover {
    background: #766cf1;
  }
}

.btn--secondary {
  color: #717fa6;
  background-color: transparent;

  &:hover {
    color: #1f2e55;
  }
}
